#hello_world
  Hello { person.name }
  .this_is_an_example{"rv-text" => "person.name"}
  .this_is_an_example_of_binding{"rv-foo" => "person.name"}
    color
  .this_is_two_way_binding{"rv-on-click" => "person.change"}
    click me to change name and change color
  %label
    enter text here to be formatted
  %input{"rv-on-keypress" => "person.showText"}
  .this_is_formatting_example{"rv-text" => "person.text"}
