#hello_world
  Hello { model.name }
  .this_is_an_example{"rv-text" => "model.name"}
  .this_is_an_example_of_binding{"rv-name" => "model.name"}
    color
  .this_is_two_way_binding{"rv-on-click" => "model.change"}
    click me to change name and change color
